<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>

  <div id="content">
    <h1>Hey! I'm Rafael Malave</h1>
    <p>Welcome to my website where I show and talk about my projects</p>
    <p>I am a Web Applications Developer focusing on Ruby On Rails</P> 
    <p>If you'd like to follow my crazy thinking and ideas, find me on Twitter <a href="twitter.com/rmalave">@rmalavedev</a> or on the web at <a href="http://rmalave.net">rmalave.net</a>
    </div>
  </div>
